[submodule "01-tragedy-confident-agent"]
	path = 01-tragedy-confident-agent
	url = git@github.com:v2-io/paper-tragedy-confident-agent.git
[submodule "02-unified-convergence-rl"]
	path = 02-unified-convergence-rl
	url = git@github.com:v2-io/paper-unified-convergence-rl.git
